@import "../index.scss";

#footer {
    position: relative;
    margin-top: 5rem;
    height: 40vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: baseline;
    align-items: flex-start;
    
    #wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-top: auto;
        
        position: relative;
        z-index: 2;

        @media screen and (max-width: 991px) {
            flex-direction: column;
          }

        #pew35-logo {
            width: 10vw;
            min-width: 150px;
            object-fit: cover;
            object-position: center;

            @media screen and (max-width: 991px) {
                min-width: 100px;
                margin-bottom: 1.5rem;
              }
        }

        #references {
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            @media screen and (min-width: 1200px) {
                top: 2.0rem;
            }

            h3 {
                font-size: 1.8rem;
                color: $blue;
            }

            a {
                text-decoration: none;

                h4 {
                    color: whitesmoke;
                    margin: 0.15rem;
                }

                &:hover {
                    h4 {                   
                    color: $blue;
                    }
                }
            }
        }
    }

    #pew35-slogan {
        z-index: 2;
        bottom: 1.0rem;

        height: 100px;
        max-width: 90vw;
        object-fit: contain;
        object-position: center;
    }

    #footer-background {
        position: absolute;
        height: 40vh;

        //Height of #footer-rectangle and #footer-shape need to add to Height of #footer
        #footer-rectangle {
            position: relative;
            background-color: $red;
            border-radius: 0;
            z-index: 0;
            bottom: 0;
            width: 100vw;
            height: 20vh;
        }

        #footer-shape {
            @extend #footer-rectangle;
            z-index: 1;
            background-color: transparent;
            overflow: hidden;
            // margin-bottom: -1px;
            height: 25vh;

            svg {
                height: 100%;
                width: 100%;

                path {
                    stroke: none;
                    fill: $red;
                }
            }
        }
    }
}