@import "../index.scss";

#support {
    position: relative;
    margin: 0 5vw;
    margin-top: 3.0rem;
    max-width: 1300px;
    text-align: left;

    &#subscribe {
        max-width: 800px;
        margin-right: auto;
    }

    @media screen and (max-width: 991px) {
        max-width: 90vw;
    }

    h2 {
        text-align: left;
        margin-bottom: 7vh;
        color: $red;
    }

    #contact-box {
        position: relative;
        display: block;
        margin: 0 auto;
        width: fit-content;
        background-color: $t-black;
        color: $blue;
        text-align: center;
        text-decoration: none;
        padding: 1.0rem 2.0rem;
        border-radius: $radius;
        border: 4px solid $blue;

        animation: border-pulse-blue 3s infinite;
        transition: transform 0.2s ease, box-shadow 0.2s ease;

        span {
            color: white;
            font-size: 1.75rem;
            vertical-align: text-bottom;
            white-space: nowrap;

            label {
                color: $blue;
                font-weight: 700;
                text-align: center;
                margin: 0 auto;
                white-space: nowrap;
                margin-left: 1.0rem;
            }
        }

        p {
            text-align: center;
            color: whitesmoke;
            font-style: italic;
        }

        #primary {
            background-color: $red;
            border: 2px solid transparent;
            color: white;
            margin: 1.5rem 0 0 auto;

            &:hover {
                background-color: white;
                color: $blue;
            }
        }

        &:hover, &:active {
            background-color: $blue;

            label {
            color: white;
            }
        }
    }
}